/* styles.css */
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-link {
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nav-link:hover {
    background-color: #eee;
  }
  